// Base and reset
@import "vendor/reset";
@import "base/typography";

// Layout
@import "layout/navigation";
@import "layout/footer";
@import "layout/header";
@import "layout/forms";

// Pages
@import "pages/about";
@import "pages/contact";
@import "pages/home";

// Utilities
@import "utilities/variables";
@import "utilities/functions";